<%= render "league_navbar"%>


<% if current_hater %>

    <br/>
    <%= @hater.hater_name%>

<% if params[:league]== nil%>
    
    <%= render "league_leagues"%>
    
<% else %>
    
    <%if params[:page] == "leagues"%>
    <%= render "league_leagues"%>
    <%end%>
    
    <%if params[:page] == "standings"%>
    <H2> Standings LANDING PAGE</H2>
    <%= render "league_standings"%>
    <%end%>
    
    <%if params[:page] == "schedule"%>
    <H2> Schedule LANDING PAGE</H2>
    <%= render "league_schedule" %>
    <%end%>
    
    <%if params[:page] == "team"%>
    <H2> Team LANDING PAGE</H2>
    <%= render "league_team"%>
    <%end%>
    
    <%if params[:page] == "matchup"%>
    <H2> MatchupE LANDING PAGE</H2>
    <%= render "league_matchup"%>
    <%end%>
    
    <%if params[:page] == "manager"%>

    <H2> Manager LANDING PAGE</H2>
    <%= render "league_manager"%>
    <%end%>
    
    <%end%>
<%end%>
